# Laravel core
/vendor/
node_modules/
.env
.env.*
.phpunit.result.cache
.phpactor.json
composer.lock
yarn.lock
package-lock.json
npm-debug.log
yarn-error.log
auth.json

# Laravel specific
/storage/*
!/storage/app/public
!/storage/*.gitignore
/public/storage
/public/hot
/public/build

# Laravel cache
bootstrap/cache/*
!bootstrap/cache/.gitignore

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Vagrant / Homestead
Homestead.yaml
Homestead.json
/.vagrant

# Others
*.log
*.key

# Laravel Mix & Vite
/public/mix-manifest.json
/public/build/
vite.config.js
vite.config.ts

# PHPStorm
/.phpstorm.meta.php/

# Backup or deployment
.env.backup
.env.production
 composer-setup.php
